---
redirect_url: https://msdn.microsoft.com/windows/hardware/drivers/develop/creating-a-driver-verification-log
---
